<!--footer for desktop-->
<footer class="footer">
  <div class="container">
    <div class="row footer-links">
      <div class="col-3">
        <div class="foot-logo">
          <!-- <a href="https://www.awana.org" target="_black">
            <img src="assets/img/awana_footer_logo_new.png" alt="Awana" class="foot-logo-img">
          </a> -->
          <!-- <a href="http://www.ecfa.org/MemberSearch.aspx?Keywords=awana" target="_black">
            <img src="assets/img/logo-ecfa-accredited_new.png" alt="ECFA">
          </a> -->
        </div>

        <!-- <div class="foot-social">
          <a target="_black" href="https://www.facebook.com/AwanaHQ"><span class="icons icon-fb-icon"></span></a>
          <a target="_black" href="https://twitter.com/Awana"><span class="icons icon-twitter-icon"></span></a>
          <a target="_black" href="http://instagram.com/awana#"><span class="icons icon-instagram-with-circle"></span></a>
          <a target="_black" href="https://www.youtube.com/channel/UCux3DZHEysGzw6e-JmktmHA"><span class="icons icon-youtube"></span></a>
        </div> -->
      </div>
      <!-- <div class="col-9">
        <ul class="foot-list-links list-inline">
          <li>
            <a href="https://www.awana.org/careers" target="_black">
              Careers
            </a>
          </li>
          <li>
            <a href="https://www.awana.org/about" target="_black">
              About
            </a>
          </li>
          <li>
            <a href="https://www.awana.org/faqs" target="_black">
              FAQ
            </a>
          </li>
          <li>
            <a href="https://www.awana.org/contact-us" target="_black">
              Contact
            </a>
          </li>
          <li class="foot-find-awana">
            <h2 class="phone-no">(866) 292-6227</h2>
          </li>
        </ul>
        <ul class="foot-botlinks list-inline">
          <li>
            <a href="https://www.awana.org/copyright-information" target="_black">Copyright Information</a>
          </li>
          <li>
            <a href="https://www.awana.org/fundraising-disclosure" target="_black">Fundraising Disclosure</a>
          </li>
          <li>
            <a href="https://www.awana.org/privacy-policies" target="_black">Privacy and Policies</a>
          </li>
          <li>
            <a href="https://www.awana.org/social-media-policies" target="_black">Social Media Policies and Guidelines</a>
          </li>                        
        </ul>
      </div> -->
    </div>
  </div>	
</footer>

